<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lykkex.LykkeWallet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".gui.LykkeApplication_">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f6c20cf95679b1a5f41d4abc481094a5046ea101" />

        <activity
            android:name=".gui.FieldActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.SelfieActivity_">

        </activity>
        <activity android:name=".gui.MainActivity_"/>
        <activity android:name=".gui.KysActivity_"/>
    </application>

</manifest>
